@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #202020;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body::-webkit-scrollbar {
  display: none;
}

/* numbers shadow */
.nums-down {
  text-shadow: 0 0 0.75rem #f8877f;
}

.nums-gradient {
  background: radial-gradient(circle at center, #001c30, #004271);
}

.perks-bg {
  background: url(../public/candlesticks.jpg) no-repeat center;
  background-size: cover;
}